{% include 'overall_header.html' %}

<h1>{{ lang('MARKETPLACE_ACP_SETTINGS') }}</h1>

{% if S_ERROR %}
	<div class="errorbox">
		<h3>{{ lang('WARNING') }}</h3>
		<p>{{ ERROR_MSG }}</p>
	</div>
{% endif %}

<form id="marketplace_settings" method="post" action="{{ U_ACTION }}">
	<fieldset>
		<legend>{{ lang('MARKETPLACE_SETTINGS') }}</legend>

		<dl>
			<dt><label for="marketplace_enabled">{{ lang('MARKETPLACE_ENABLE') ~ lang('COLON') }}</label></dt>
			<dd>
				<label><input type="radio" class="radio" name="marketplace_enabled" value="1"{% if MARKETPLACE_ENABLED %} checked="checked"{% endif %}> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="marketplace_enabled" value="0"{% if not MARKETPLACE_ENABLED %} checked="checked"{% endif %}> {{ lang('NO') }}</label>
			</dd>
		</dl>

		<dl>
			<dt><label for="marketplace_require_approval">{{ lang('MARKETPLACE_REQUIRE_APPROVAL') ~ lang('COLON') }}</label><br><span>{{ lang('MARKETPLACE_REQUIRE_APPROVAL_EXPLAIN') }}</span></dt>
			<dd>
				<label><input type="radio" class="radio" name="marketplace_require_approval" value="1"{% if MARKETPLACE_REQUIRE_APPROVAL %} checked="checked"{% endif %}> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="marketplace_require_approval" value="0"{% if not MARKETPLACE_REQUIRE_APPROVAL %} checked="checked"{% endif %}> {{ lang('NO') }}</label>
			</dd>
		</dl>

		<dl>
			<dt><label for="marketplace_max_ads_per_user">{{ lang('MARKETPLACE_MAX_ADS_PER_USER') ~ lang('COLON') }}</label></dt>
			<dd><input type="number" name="marketplace_max_ads_per_user" id="marketplace_max_ads_per_user" value="{{ MARKETPLACE_MAX_ADS_PER_USER }}" min="1" max="100" class="inputbox autowidth"></dd>
		</dl>

		<dl>
			<dt><label for="marketplace_ad_expiration_days">{{ lang('MARKETPLACE_EXPIRATION_DAYS') ~ lang('COLON') }}</label></dt>
			<dd><input type="number" name="marketplace_ad_expiration_days" id="marketplace_ad_expiration_days" value="{{ MARKETPLACE_AD_EXPIRATION_DAYS }}" min="0" class="inputbox autowidth"> <span>{{ lang('DAYS') }}</span></dd>
		</dl>

		<dl>
			<dt><label for="marketplace_max_images">{{ lang('MARKETPLACE_MAX_IMAGES') ~ lang('COLON') }}</label></dt>
			<dd><input type="number" name="marketplace_max_images" id="marketplace_max_images" value="{{ MARKETPLACE_MAX_IMAGES }}" min="0" max="20" class="inputbox autowidth"></dd>
		</dl>

		<dl>
			<dt><label for="marketplace_items_per_page">{{ lang('MARKETPLACE_ITEMS_PER_PAGE') ~ lang('COLON') }}</label></dt>
			<dd><input type="number" name="marketplace_items_per_page" id="marketplace_items_per_page" value="{{ MARKETPLACE_ITEMS_PER_PAGE }}" min="5" class="inputbox autowidth"></dd>
		</dl>

		<dl>
			<dt><label for="marketplace_allow_images">{{ lang('MARKETPLACE_ALLOW_IMAGES') ~ lang('COLON') }}</label></dt>
			<dd>
				<label><input type="radio" class="radio" name="marketplace_allow_images" value="1"{% if MARKETPLACE_ALLOW_IMAGES %} checked{% endif %}> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="marketplace_allow_images" value="0"{% if not MARKETPLACE_ALLOW_IMAGES %} checked{% endif %}> {{ lang('NO') }}</label>
			</dd>
		</dl>

		<dl>
			<dt><label for="marketplace_enable_price">{{ lang('MARKETPLACE_ENABLE_PRICE') ~ lang('COLON') }}</label></dt>
			<dd>
				<label><input type="radio" class="radio" name="marketplace_enable_price" value="1"{% if MARKETPLACE_ENABLE_PRICE %} checked{% endif %}> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="marketplace_enable_price" value="0"{% if not MARKETPLACE_ENABLE_PRICE %} checked{% endif %}> {{ lang('NO') }}</label>
			</dd>
		</dl>

		<dl>
			<dt><label for="marketplace_currency_default">{{ lang('MARKETPLACE_CURRENCY_DEFAULT') ~ lang('COLON') }}</label></dt>
			<dd><input type="text" name="marketplace_currency_default" id="marketplace_currency_default" value="{{ MARKETPLACE_CURRENCY_DEFAULT }}" class="inputbox autowidth" size="5"></dd>
		</dl>

		<dl>
			<dt><label for="marketplace_show_sold_ads">{{ lang('MARKETPLACE_SHOW_SOLD_ADS') ~ lang('COLON') }}</label><br><span>{{ lang('MARKETPLACE_SHOW_SOLD_ADS_EXPLAIN') }}</span></dt>
			<dd>
				<label><input type="radio" class="radio" name="marketplace_show_sold_ads" value="1"{% if MARKETPLACE_SHOW_SOLD_ADS %} checked{% endif %}> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="marketplace_show_sold_ads" value="0"{% if not MARKETPLACE_SHOW_SOLD_ADS %} checked{% endif %}> {{ lang('NO') }}</label>
			</dd>
		</dl>

		<dl>
			<dt><label for="marketplace_sold_visible_days">{{ lang('MARKETPLACE_SOLD_VISIBLE_DAYS') ~ lang('COLON') }}</label><br><span>{{ lang('MARKETPLACE_SOLD_VISIBLE_DAYS_EXPLAIN') }}</span></dt>
			<dd><input type="number" name="marketplace_sold_visible_days" id="marketplace_sold_visible_days" value="{{ MARKETPLACE_SOLD_VISIBLE_DAYS }}" min="0" class="inputbox autowidth"> <span>{{ lang('DAYS') }}</span></dd>
		</dl>
	</fieldset>

	<fieldset>
		<legend>{{ lang('MARKETPLACE_ADVANCED_FEATURES') }}</legend>

		<dl>
			<dt><label for="marketplace_allow_reports">{{ lang('MARKETPLACE_ALLOW_REPORTS') ~ lang('COLON') }}</label><br><span>{{ lang('MARKETPLACE_ALLOW_REPORTS_EXPLAIN') }}</span></dt>
			<dd>
				<label><input type="radio" class="radio" name="marketplace_allow_reports" value="1"{% if MARKETPLACE_ALLOW_REPORTS %} checked{% endif %}> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="marketplace_allow_reports" value="0"{% if not MARKETPLACE_ALLOW_REPORTS %} checked{% endif %}> {{ lang('NO') }}</label>
			</dd>
		</dl>

		<dl>
			<dt><label for="marketplace_allow_follows">{{ lang('MARKETPLACE_ALLOW_FOLLOWS') ~ lang('COLON') }}</label><br><span>{{ lang('MARKETPLACE_ALLOW_FOLLOWS_EXPLAIN') }}</span></dt>
			<dd>
				<label><input type="radio" class="radio" name="marketplace_allow_follows" value="1"{% if MARKETPLACE_ALLOW_FOLLOWS %} checked{% endif %}> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="marketplace_allow_follows" value="0"{% if not MARKETPLACE_ALLOW_FOLLOWS %} checked{% endif %}> {{ lang('NO') }}</label>
			</dd>
		</dl>

		<dl>
			<dt><label for="marketplace_allow_bump">{{ lang('MARKETPLACE_ALLOW_BUMP') ~ lang('COLON') }}</label><br><span>{{ lang('MARKETPLACE_ALLOW_BUMP_EXPLAIN') }}</span></dt>
			<dd>
				<label><input type="radio" class="radio" name="marketplace_allow_bump" value="1"{% if MARKETPLACE_ALLOW_BUMP %} checked{% endif %}> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="marketplace_allow_bump" value="0"{% if not MARKETPLACE_ALLOW_BUMP %} checked{% endif %}> {{ lang('NO') }}</label>
			</dd>
		</dl>

		<dl>
			<dt><label for="marketplace_bump_interval_days">{{ lang('MARKETPLACE_BUMP_INTERVAL_DAYS') ~ lang('COLON') }}</label><br><span>{{ lang('MARKETPLACE_BUMP_INTERVAL_DAYS_EXPLAIN') }}</span></dt>
			<dd><input type="number" name="marketplace_bump_interval_days" id="marketplace_bump_interval_days" value="{{ MARKETPLACE_BUMP_INTERVAL_DAYS }}" min="0" class="inputbox autowidth"> <span>{{ lang('DAYS') }}</span></dd>
		</dl>

		<dl>
			<dt><label for="marketplace_allow_featured">{{ lang('MARKETPLACE_ALLOW_FEATURED') ~ lang('COLON') }}</label><br><span>{{ lang('MARKETPLACE_ALLOW_FEATURED_EXPLAIN') }}</span></dt>
			<dd>
				<label><input type="radio" class="radio" name="marketplace_allow_featured" value="1"{% if MARKETPLACE_ALLOW_FEATURED %} checked{% endif %}> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="marketplace_allow_featured" value="0"{% if not MARKETPLACE_ALLOW_FEATURED %} checked{% endif %}> {{ lang('NO') }}</label>
			</dd>
		</dl>

		<dl>
			<dt><label for="marketplace_featured_days">{{ lang('MARKETPLACE_FEATURED_DAYS') ~ lang('COLON') }}</label><br><span>{{ lang('MARKETPLACE_FEATURED_DAYS_EXPLAIN') }}</span></dt>
			<dd><input type="number" name="marketplace_featured_days" id="marketplace_featured_days" value="{{ MARKETPLACE_FEATURED_DAYS }}" min="1" class="inputbox autowidth"> <span>{{ lang('DAYS') }}</span></dd>
		</dl>

		<dl>
			<dt><label for="marketplace_allow_boosted">{{ lang('MARKETPLACE_ALLOW_BOOSTED') ~ lang('COLON') }}</label><br><span>{{ lang('MARKETPLACE_ALLOW_BOOSTED_EXPLAIN') }}</span></dt>
			<dd>
				<label><input type="radio" class="radio" name="marketplace_allow_boosted" value="1"{% if MARKETPLACE_ALLOW_BOOSTED %} checked{% endif %}> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="marketplace_allow_boosted" value="0"{% if not MARKETPLACE_ALLOW_BOOSTED %} checked{% endif %}> {{ lang('NO') }}</label>
			</dd>
		</dl>

		<dl>
			<dt><label for="marketplace_boosted_days">{{ lang('MARKETPLACE_BOOSTED_DAYS') ~ lang('COLON') }}</label><br><span>{{ lang('MARKETPLACE_BOOSTED_DAYS_EXPLAIN') }}</span></dt>
			<dd><input type="number" name="marketplace_boosted_days" id="marketplace_boosted_days" value="{{ MARKETPLACE_BOOSTED_DAYS }}" min="1" class="inputbox autowidth"> <span>{{ lang('DAYS') }}</span></dd>
		</dl>


		<dl>
			<dt><label for="marketplace_allow_promotion_requests">{{ lang('MARKETPLACE_ALLOW_PROMOTION_REQUESTS') ~ lang('COLON') }}</label><br><span>{{ lang('MARKETPLACE_ALLOW_PROMOTION_REQUESTS_EXPLAIN') }}</span></dt>
			<dd>
				<label><input type="radio" class="radio" name="marketplace_allow_promotion_requests" value="1"{% if MARKETPLACE_ALLOW_PROMOTION_REQUESTS %} checked{% endif %}> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="marketplace_allow_promotion_requests" value="0"{% if not MARKETPLACE_ALLOW_PROMOTION_REQUESTS %} checked{% endif %}> {{ lang('NO') }}</label>
			</dd>
		</dl>
	</fieldset>

	<fieldset>
		<legend>{{ lang('MARKETPLACE_PAYMENTS') }}</legend>

		<dl>
			<dt><label for="marketplace_direct_purchase_enabled">{{ lang('MARKETPLACE_DIRECT_PURCHASE_ENABLED') ~ lang('COLON') }}</label><br><span>{{ lang('MARKETPLACE_DIRECT_PURCHASE_ENABLED_EXPLAIN') }}</span></dt>
			<dd>
				<label><input type="radio" class="radio" name="marketplace_direct_purchase_enabled" value="1"{% if MARKETPLACE_DIRECT_PURCHASE_ENABLED %} checked{% endif %}> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="marketplace_direct_purchase_enabled" value="0"{% if not MARKETPLACE_DIRECT_PURCHASE_ENABLED %} checked{% endif %}> {{ lang('NO') }}</label>
			</dd>
		</dl>

		<dl>
			<dt><label for="marketplace_paypal_enabled">{{ lang('MARKETPLACE_PAYPAL_ENABLED') ~ lang('COLON') }}</label><br><span>{{ lang('MARKETPLACE_PAYPAL_ENABLED_EXPLAIN') }}</span></dt>
			<dd>
				<label><input type="radio" class="radio" name="marketplace_paypal_enabled" value="1"{% if MARKETPLACE_PAYPAL_ENABLED %} checked{% endif %}> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="marketplace_paypal_enabled" value="0"{% if not MARKETPLACE_PAYPAL_ENABLED %} checked{% endif %}> {{ lang('NO') }}</label>
			</dd>
		</dl>

		<dl>
			<dt><label for="marketplace_paypal_sandbox">{{ lang('MARKETPLACE_PAYPAL_SANDBOX') ~ lang('COLON') }}</label><br><span>{{ lang('MARKETPLACE_PAYPAL_SANDBOX_EXPLAIN') }}</span></dt>
			<dd>
				<label><input type="radio" class="radio" name="marketplace_paypal_sandbox" value="1"{% if MARKETPLACE_PAYPAL_SANDBOX %} checked{% endif %}> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="marketplace_paypal_sandbox" value="0"{% if not MARKETPLACE_PAYPAL_SANDBOX %} checked{% endif %}> {{ lang('NO') }}</label>
			</dd>
		</dl>

		<dl>
			<dt><label for="marketplace_paypal_sandbox_business">{{ lang('MARKETPLACE_PAYPAL_SANDBOX_BUSINESS') ~ lang('COLON') }}</label><br><span>{{ lang('MARKETPLACE_PAYPAL_SANDBOX_BUSINESS_EXPLAIN') }}</span></dt>
			<dd><input type="email" name="marketplace_paypal_sandbox_business" id="marketplace_paypal_sandbox_business" value="{{ MARKETPLACE_PAYPAL_SANDBOX_BUSINESS }}" class="inputbox" size="40" placeholder="sb-merchant@example.com"></dd>
		</dl>

		<dl>
			<dt><label for="marketplace_paypal_business">{{ lang('MARKETPLACE_PAYPAL_BUSINESS') ~ lang('COLON') }}</label><br><span>{{ lang('MARKETPLACE_PAYPAL_BUSINESS_EXPLAIN') }}</span></dt>
			<dd><input type="email" name="marketplace_paypal_business" id="marketplace_paypal_business" value="{{ MARKETPLACE_PAYPAL_BUSINESS }}" class="inputbox" size="40" placeholder="merchant@example.com"></dd>
		</dl>

		<dl>
			<dt><label for="marketplace_paypal_currency">{{ lang('MARKETPLACE_PAYPAL_CURRENCY') ~ lang('COLON') }}</label><br><span>{{ lang('MARKETPLACE_PAYPAL_CURRENCY_EXPLAIN') }}</span></dt>
			<dd>
				<select name="marketplace_paypal_currency" id="marketplace_paypal_currency">
					{% for currency in PAYPAL_CURRENCY_OPTIONS %}
						<option value="{{ currency.CODE }}"{% if currency.S_SELECTED %} selected{% endif %}>{{ currency.LABEL }}</option>
					{% endfor %}
				</select>
			</dd>
		</dl>
		<dl>
			<dt><label>{{ lang('MARKETPLACE_PAYPAL_IPN_URL') ~ lang('COLON') }}</label><br><span>{{ lang('MARKETPLACE_PAYPAL_IPN_URL_EXPLAIN') }}</span></dt>
			<dd><input type="text" readonly value="{{ MARKETPLACE_PAYPAL_IPN_URL }}" class="inputbox" size="70" onclick="this.select();"></dd>
		</dl>

	</fieldset>

	<fieldset>
		<legend>{{ lang('MARKETPLACE_GATEWAY_SETTINGS') }}</legend>
		<p>{{ lang('MARKETPLACE_GATEWAY_SETTINGS_EXPLAIN') }}</p>

		<dl>
			<dt><label for="marketplace_gateway_paypal_enabled">{{ lang('MARKETPLACE_GATEWAY_PAYPAL') ~ lang('COLON') }}</label></dt>
			<dd>
				<label><input type="radio" class="radio" name="marketplace_gateway_paypal_enabled" value="1"{% if MARKETPLACE_GATEWAY_PAYPAL_ENABLED %} checked{% endif %}> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="marketplace_gateway_paypal_enabled" value="0"{% if not MARKETPLACE_GATEWAY_PAYPAL_ENABLED %} checked{% endif %}> {{ lang('NO') }}</label>
			</dd>
		</dl>

		<dl>
			<dt><label for="marketplace_gateway_stripe_enabled">{{ lang('MARKETPLACE_GATEWAY_STRIPE') ~ lang('COLON') }}</label><br><span>{{ lang('MARKETPLACE_GATEWAY_FUTURE_EXPLAIN') }}</span></dt>
			<dd>
				<label><input type="radio" class="radio" name="marketplace_gateway_stripe_enabled" value="1"{% if MARKETPLACE_GATEWAY_STRIPE_ENABLED %} checked{% endif %}> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="marketplace_gateway_stripe_enabled" value="0"{% if not MARKETPLACE_GATEWAY_STRIPE_ENABLED %} checked{% endif %}> {{ lang('NO') }}</label>
				<br><input type="text" name="marketplace_gateway_stripe_public_key" value="{{ MARKETPLACE_GATEWAY_STRIPE_PUBLIC_KEY }}" class="inputbox" size="55" placeholder="pk_test_...">
				<br><input type="text" name="marketplace_gateway_stripe_secret_key" value="{{ MARKETPLACE_GATEWAY_STRIPE_SECRET_KEY }}" class="inputbox" size="55" placeholder="sk_test_...">
			</dd>
		</dl>

		<dl>
			<dt><label for="marketplace_gateway_pix_enabled">{{ lang('MARKETPLACE_GATEWAY_PIX') ~ lang('COLON') }}</label><br><span>{{ lang('MARKETPLACE_GATEWAY_PIX_EXPLAIN') }}</span></dt>
			<dd>
				<label><input type="radio" class="radio" name="marketplace_gateway_pix_enabled" value="1"{% if MARKETPLACE_GATEWAY_PIX_ENABLED %} checked{% endif %}> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="marketplace_gateway_pix_enabled" value="0"{% if not MARKETPLACE_GATEWAY_PIX_ENABLED %} checked{% endif %}> {{ lang('NO') }}</label>
				<br><label>{{ lang('MARKETPLACE_GATEWAY_PIX_KEY_TYPE') }}{{ lang('COLON') }}
					<select name="marketplace_gateway_pix_key_type">
						<option value="cpf"{% if MARKETPLACE_GATEWAY_PIX_KEY_TYPE == 'cpf' %} selected{% endif %}>CPF</option>
						<option value="cnpj"{% if MARKETPLACE_GATEWAY_PIX_KEY_TYPE == 'cnpj' %} selected{% endif %}>CNPJ</option>
						<option value="email"{% if MARKETPLACE_GATEWAY_PIX_KEY_TYPE == 'email' %} selected{% endif %}>E-mail</option>
						<option value="phone"{% if MARKETPLACE_GATEWAY_PIX_KEY_TYPE == 'phone' %} selected{% endif %}>{{ lang('MARKETPLACE_PHONE') }}</option>
						<option value="random"{% if MARKETPLACE_GATEWAY_PIX_KEY_TYPE == 'random' %} selected{% endif %}>{{ lang('MARKETPLACE_GATEWAY_PIX_RANDOM_KEY') }}</option>
					</select>
				</label>
				<br><input type="text" name="marketplace_gateway_pix_key" value="{{ MARKETPLACE_GATEWAY_PIX_KEY }}" class="inputbox" size="55" placeholder="{{ lang('MARKETPLACE_GATEWAY_PIX_KEY') }}">
				{% if MARKETPLACE_GATEWAY_PIX_KEY_MASKED %}<br><small>{{ lang('MARKETPLACE_GATEWAY_PIX_KEY_MASKED') }}{{ lang('COLON') }} {{ MARKETPLACE_GATEWAY_PIX_KEY_MASKED }}</small>{% endif %}
				<br><input type="text" name="marketplace_gateway_pix_receiver_name" value="{{ MARKETPLACE_GATEWAY_PIX_RECEIVER_NAME }}" class="inputbox" size="55" placeholder="{{ lang('MARKETPLACE_GATEWAY_PIX_RECEIVER_NAME') }}">
				<br><input type="text" name="marketplace_gateway_pix_receiver_city" value="{{ MARKETPLACE_GATEWAY_PIX_RECEIVER_CITY }}" class="inputbox" size="35" placeholder="{{ lang('MARKETPLACE_GATEWAY_PIX_RECEIVER_CITY') }}">
				<br><label>{{ lang('MARKETPLACE_GATEWAY_PIX_DEADLINE') }}{{ lang('COLON') }} <input type="number" name="marketplace_gateway_pix_deadline_minutes" value="{{ MARKETPLACE_GATEWAY_PIX_DEADLINE_MINUTES }}" min="5" class="inputbox autowidth"> {{ lang('MARKETPLACE_MINUTES') }}</label>
				<br><textarea name="marketplace_gateway_pix_instructions" class="inputbox" rows="3" placeholder="{{ lang('MARKETPLACE_GATEWAY_PIX_INSTRUCTIONS') }}">{{ MARKETPLACE_GATEWAY_PIX_INSTRUCTIONS }}</textarea>
			</dd>
		</dl>

		<dl>
			<dt><label for="marketplace_gateway_mercadopago_enabled">{{ lang('MARKETPLACE_GATEWAY_MERCADOPAGO') ~ lang('COLON') }}</label><br><span>{{ lang('MARKETPLACE_GATEWAY_FUTURE_EXPLAIN') }}</span></dt>
			<dd>
				<label><input type="radio" class="radio" name="marketplace_gateway_mercadopago_enabled" value="1"{% if MARKETPLACE_GATEWAY_MERCADOPAGO_ENABLED %} checked{% endif %}> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="marketplace_gateway_mercadopago_enabled" value="0"{% if not MARKETPLACE_GATEWAY_MERCADOPAGO_ENABLED %} checked{% endif %}> {{ lang('NO') }}</label>
				<br><input type="text" name="marketplace_gateway_mercadopago_public_key" value="{{ MARKETPLACE_GATEWAY_MERCADOPAGO_PUBLIC_KEY }}" class="inputbox" size="55" placeholder="APP_USR-...">
				<br><input type="text" name="marketplace_gateway_mercadopago_access_token" value="{{ MARKETPLACE_GATEWAY_MERCADOPAGO_ACCESS_TOKEN }}" class="inputbox" size="55" placeholder="APP_USR-...">
			</dd>
		</dl>
	</fieldset>

	<fieldset class="submit-buttons">
		<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}">
		{{ S_FORM_TOKEN }}
	</fieldset>
</form>

{% include 'overall_footer.html' %}
